# What is Ordinal Categorical Feature?

An ordinal categorical feature is a type of categorical variable that has a natural order or hierarchy associated with its categories. In other words, the categories of an ordinal feature have a meaningful ranking or order, indicating a relative level or position.

- Unlike nominal categorical features, where the categories have no inherent order or rank, ordinal features represent a progression or scale. 

- The important characteristic of ordinal features is that the order or ranking between categories conveys some form of information or significance. 

It's important to note that the intervals between the categories in an ordinal feature may not be uniform or well-defined. Therefore, when using numerical encoding, it is assumed that the difference between consecutive values carries some meaning, but the magnitude of the difference might not be precisely quantifiable or consistent across the entire range of the feature.


**For Example:**
- Student's Rank in the class
- Ranking of batsman in cricket

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings as wr
wr.filterwarnings('ignore')

In [2]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['Day']
df.head()

                         Day
0 2023-05-27 19:39:56.498532
1 2023-05-26 19:39:56.498532
2 2023-05-25 19:39:56.498532
3 2023-05-24 19:39:56.498532
4 2023-05-23 19:39:56.498532

In [4]:
#Taking the day names of a week
#df['Day'] = pd.to_datetime(df['Day'])
df['Day_of_week'] = df['Day'].dt.day_name()
df.head()

                         Day Day_of_week
0 2023-05-27 19:39:56.498532    Saturday
1 2023-05-26 19:39:56.498532      Friday
2 2023-05-25 19:39:56.498532    Thursday
3 2023-05-24 19:39:56.498532   Wednesday
4 2023-05-23 19:39:56.498532     Tuesday

In [5]:
# Engineer categorical variable by ordinal number replacement

mapping_weekdays = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

In [ ]:
df['Original_day'] = df.Day_of_week.map(mapping_weekdays)
df.head(20)

### Advantages
- Keeps the semantical information of the variable (human readable content)
- Straightforward

### Disadvantages
- Does not add machine learning valuable information